<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scci.demoapplogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DemoapploginApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity

            android:name=".activity.SecondForTesstActivity"
            android:exported="false" />
        <activity

            android:name=".activity.SettleMarginHistoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettleMarginHistoryActivity"
            android:exported="false" />
        <activity

            android:name=".activity.GitTestingPullActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettleMarginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatementActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DashBoardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OTPVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>